@media only screen and (min-width: 1158px) {
  .section-one {
    padding: 188px 0;
    gap: 48px 0;
  }

  .sections_container {
    padding-bottom: 120px;
    gap: 120px;
  }
  .container {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
  }

  .header .list {
    display: flex;
    gap: 40px;
    padding: 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
  }
  .rectangle {
    display: flex;
  }
  .section-two .list {
    display: flex;
    flex-wrap: nowrap;
  }
  .section-three {
    display: flex;
  }

  .feature-list .rectangle {
    display: flex;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 100%;
  }
  .section-three .list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .section-four {
    padding-left: 0;
    padding-right: 0;
  }
  .section-three .container,
  .section-four .container,
  .section-five .container {
    flex-flow: column;
  }
  .team-list {
    /* display: flex;
    flex-wrap: nowrap; 
    align-items: unset;
    flex-direction: unset;
    justify-content: center; */
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
