/*=====================Variables============*/
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --grey: #2e2f42;
}
/*===================RESET CSS=====*/
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  font-size: 16px;
  font-size: normal;
  background-color: var(--white);
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.list {
  text-decoration: none;
  list-style: none;
}
/* .container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
} */

.mobile_header_container {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  width: 428px;
  height: 70px;
  flex-shrink: 0;
}
.hamburger_container {
  width: 428px;
  height: 796px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--light-slate);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  border: 1px solid #31d0aa;
}

.logo-web {
  width: 44px;
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-studio {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.navigation_menu .list {
  diplay: none;
}

/*========================================footer*/

.footer {
  background-color: var(--navyblue);
  padding-top: 90px;
  padding-bottom: 90px;
}
.footer_inner_container {
  display: flex;
  justify-content: space-between;
}

.footer .logo-web {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo {
  margin-right: 120px;
}
.footer-text {
  max-width: 264px;
  color: var(--cloud);
}

.footer_studio {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-socmed-cont {
  display: flex;
  justify-content: space-evenly;

  /* margin-right: 120px; */ /*8removed for mobile*/
}
.footer_socmed {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.footer .trailing-icons {
  display: flex;
  gap: 16px;
}
.footer_socmed .social-media-links {
  width: 40px;
  height: 40px;
}

.footer-socmed-cont .social-media-links:hover,
.footer-socmed-cont .social-media-links:focus {
  background-color: var(--green);
}

/*-----------footer email input-------*/
.footer_subscription {
  display: flex;
  justify-content: center;
}
.subscription_text {
  color: var(--white);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-bottom: 16px; */
}
.email_label {
  color: var(--white);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}
.email_form {
  gap: 24px;
  display: flex;
}

.input_email {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12 px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.submit_btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 8px 24px;
  gap: 16px;
}

.sent_icon {
  margin-left: 16px;
  fill: currentColor;
}

/*=============Hamburger menu=========*/
/*===========================end of Footer style*/
/*media queries*/

@media (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .feature-text,
  .member {
    flex-basis: calc(100% / 2-30%);
  }
}
