:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --grey: #2e2f42;
}
/*===================RESET CSS=====*/
* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  margin: 0 auto;
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 428px) {
  .section-one {
    flex-direction: column;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero1x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header {
    text-decoration: none;
  }
  .header .list {
    padding: 0;
  }
  .header .link {
    padding: 24px 0;
  }

  .container {
    width: 100%;
  }
  .header_navigation {
    display: flex;
    gap: 40px;
  }
  .navigation_menu {
    display: flex;
    gap: 40px;
  }
  .link {
    text-decoration: none;
    color: #2e2f42;
  }
  .logo-web {
    color: var(--iris);
  }

  .address_nav {
    display: flex;
  }
  .nav-link {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
  }
  .nav_link_item {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav_link_item.active,
  .nav_link_item:hover,
  .nav_link_item:focus {
    color: var(--ocean);
  }
  .nav_link_item.active::after,
  .nav_link_item:hover::after,
  .nav_link_item:focus::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--ocean);
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address_nav {
    font-style: normal;
    text-decoration: none;
  }
  .address_nav .link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover,
  .link:focus,
  .address_nav .link:hover,
  .address_nav .link:focus {
    color: var(--ocean);
  }
  .contact_menu {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero2x_2.jpg);
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    height: auto;
    width: 100%;
    padding: 188px 0;
  }

  .hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .hero-button:hover,
  .hero-button:focus {
    background-color: var(--ocean);
  }

  .section-two .list {
    gap: 24px;
  }
  .section-three {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
  .feature-list {
    flex-basis: calc((100% - 24px) / 2);
    align-items: flex-start;
  }
  .member {
    flex-basis: calc(100% / 2- 30px);
    margin-bottom: 64px;
  }
  .footer_inner_container {
    display: inline-flex;
    flex-wrap: nowrap;
    text-align: left;
  }
  .footer_subscription {
    width: 264px;
  }
}

@media screen and (min-width: 768px) {
  .email_form {
    justify-content: unset;
    flex-wrap: unset;
    padding-left: 60px;
    display: flex;
  }
}
@media only screen and (min-width: 1158px) {
  .rectangle {
    display: flex;
  }
  .section-two .list {
    display: flex;
    flex-wrap: nowrap;
  }
  .feature-list .rectangle {
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--cloud);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 100%;
  }
}
/* .container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
  }
  .header {
    display: flex;
  }
  .header_navigation {
    display: flex;
  }

  .address_nav .list {
    display: inline-flex;
    gap: 40px;
  }

  .rectangle {
    display: flex;
  }
  .section-three {
    padding-bottom: 120px;
  }
  .section-three .list {
    display: flex;
    gap: 24px;
  }
  .__column {
    display: flex;
  }
  .hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
  }
} */
